* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.footer {
    justify-content: center;
}

.hero {
    flex: 1;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

a {
    font-size: inherit;
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

.hero, 
.footer {
    background-color: #1f2937;;
    color: #f9faf8;
    display: flex;
    align-items: center;
    padding: 2rem 5rem;
}

.hero-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
}
.hero-header .logo {
    font-size: 24px;
    margin-bottom: 1rem;
} 

.hero-header .links{
    font-size: 18px;
}

.hero-header .links ul {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.hero-content {
    margin: 4rem 0;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content-text {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-content-text h1 {
    font-size: 48px;
}

.hero-content-text p {
    font-size: 16px;
    margin-top: 8px;
}

.hero-content-text button {
    border: none;
    background-color: #3882f6;
    color: #fefefe;
    padding: 8px 24px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 16px;
}

.hero-content .image {
    background-color: darkgrey;
    height: 200px;
    flex: 2;
}