* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.footer {
    justify-content: center;
}

.hero {
    flex: 1;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

a {
    font-size: inherit;
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

.hero, 
.footer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    align-items: center;
    padding: 2rem 10rem;
}

.hero-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
}

.hero-header .logo {
    font-size: 24px;
    margin-bottom: 1rem;
} 

.hero-header .links{
    font-size: 18px;
}

.hero-header .links ul {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.hero-content {
    margin: 4rem 0;
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.hero-content-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.hero-content-text h1 {
    font-size: 48px;
}

.hero-content-text p {
    font-size: 16px;
}

.hero-content-text button {
    border: none;
    background-color: #3882f6;
    color: #fefefe;
    padding: 8px 24px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 16px;
}

.hero-content .image {
    width: 100%;
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero-content .image img{
    max-width: 100%;
    min-width: 600px;
    height: auto;
    background-color: darkgrey;
}

.cards {
    margin: 2rem 10rem;
}

.cards .title h2 {
    text-align: center;
    font-size: 32px;
}

.card-container {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.card {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
}   

.card-image img {
    border: 3px solid #1e90e1;
    border-radius: 10%;
    max-width: 100%;
    height: auto;
}

.card-content {
    color: #6f7072;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 10rem;
}

.quote q {
    font-style: italic;
    font-size: 36px;
}   

.quote footer {
    font-size: 24px;
    font-weight: 600;
    margin-top: 1rem;
    text-align: right;
}

